 /* =Attachment styling
----------------------------------------------- */
#image-navigation .nav-previous a,
#image-navigation .nav-next a{
  padding: 5px 20px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  display: block;
}
#image-navigation .nav-previous a:hover,
#image-navigation .nav-next a:hover{
  background-color: #B47C5B;
  color: #fff;
}
#image-navigation .nav-previous,
#image-navigation .nav-next {
  margin: 10px 0;
}
#image-navigation .nav-previous a {
  float: left;
}
#image-navigation .nav-next a {
  float: right;
}