.btn-primary{
  margin-top: 1em;
  background: #D15961;
  border: none;
  &:hover{
    background: #FC535E;
  }
}

body,html{
  background: white;
  font-family: 'Lato', sans-serif;
  font-style: normal; font-weight: 300;
  margin: 0;
  a{
    color:#D15961;
    &:hover{
      color:#FC535E;
    }
  }
}
.separatore{
  height: 15px;
  background: #A9494F;
  width: 100%;
  display: inline-block; 
}
.header{
   padding-bottom:30px;padding-top: 0px;
  h1{
    margin: 0px;
    margin-top: 20px;
     text-transform: uppercase;
     font-size:4em;
     margin-left: 20px;
      color:#fff;
  }
  lead{
    font-size: 1.2em;
    color:#fff;
    display: block;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  img{
    margin: 0px auto;
    display: block;
  }
 }

 .sub-header{
  h2{
  padding: 10px 0px 10px 0px;
  display: inline-block;
  color: black;
  font-size: 1.7em;
  }
}
 .video{
  padding: 20px 0px 20px 0px;
 }
.capitoli{
  padding: 60px 0px 60px 0px;
  text-align: center;
  padding-bottom: 40px;
  h2{text-align: center;text-transform: uppercase;font-size: 30px;}
  a{
    font-size: 20px;
    &:hover{text-decoration: none;font-weight: 300;}
  }
  .fa.fa-clock-o{font-size: 15px;margin-left: 40px;color: blac;}
  span{
    font-size: 12px;
    margin-left: 10px;
  }
  .lezioni{
    text-align: left;
    ul{
      list-style: none;
      li{
        padding-top: 5px;padding-bottom: 5px;padding-left: 20px;font-size: 24px;
      }
    }
    ol{
      li{

        font-size: 14px;
        color:black;      
        list-style-type: none;
      }
    }
  }
}

.texture_1{
  background: #fc535e; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #fc535e 0%, #d15961 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #fc535e 0%,#d15961 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #fc535e 0%,#d15961 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc535e', endColorstr='#d15961',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.footer{
  text-align: center;
  padding: 60px 0px 60px 0px;  
  background: #f1f1f1;
  img{
    width: 100px;
  }
  h4{
    color:#5a4221;
    font-size: 20px;
  }
  .logo{
    img{width: 200px;}
  }
}

.prefooter{
  padding: 20px 0px 20px 0px;
  background: white;
  h3{
    font-size: 3em;
  }

  .arrow{
     width: 100px;
    }
    p{
      margin-top: 1em;
      font-size: 1.2em;
    }
    .img_paypal{
      margin-top: 20%;
    }
    .marketplace{
       border-top:2px solid black;
        background: #F1F1F1;
        text-align: center;
        h3{
          font-weight: 300;
          line-height: 4em;
        }
      .piuchepuoi,.clickbank{
         padding: 60px 20px 60px 20px;
        background: #fff;
        img{
          margin-top: 1em;
          width: 230px;
        }
      }
      .clickbank{
        background: #fff;
      }
    }
}
#prefooterindex{
  background: #f2f2f2;
  #mc_embed_signup { 
    background:#fff; clear:left;
  }
  .prefooter{background: transparent;}
     
     
      img{
      border: 5px solid white;
       width: 180px;
       display: block;
      margin:0 auto;
      margin-top:1em;
      margin-bottom:1em; 
      }
      .form-group{
        input{
          height: 60px;
        }
      }
      .btn{
        width: 100%;
        height: 60px;
        display:block;
      }

}
#modal{
  .modal-content{
    .modal-body{
      font-size: 1.3em;
      i{
        font-size:.8em;
        display: block;
      }
      img{
       width: 180px;
       display: block;
        margin:0 auto;
      }
      .form-group{
        input{
          height: 60px;
        }
      }
      .btn{
        width: 100%;
        
        display:block;
      }
    }
  }  
}

.download-lesson{
  margin: 60px 0px 60px 0px;
}

@media (max-width: 480px) {
  .header h1{
    font-size: 2.3em;   
  }
  .capitoli{
    .lezioni{
      ul{
        padding-left: 0px;
      }
    }
  }
  .footer{
    text-align: center;
  }
}

@media (min-width: 768px){ 
.modal-dialog {
  //width: 76%;
  }
}
.disabled{
  text-decoration:none;
  color: #ccc;
  pointer-events: none;
  cursor: default;
}
.modal-dialog   {
  cursor: pointer;
 .overlap-buynow{display: none;}
  &:hover{
    .overlap-buynow{
      display: block;
      background: black;
      position: absolute;
      top: 0;
      left:0;
      right: 0;
      z-index: 9;
      height: 50px;
    }
  }
}
//Video corso
.lesson,.video-lessons{display: none;}
#menu-toggle-2{
  position: absolute;
  background: #000;
  z-index: 9;
  left: 0;
  top: 5px;
  border-radius: 0;
  color: white;
}
a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus{
  background: #FC535E;
} 
.panel{
  border: none;
  box-shadow: none;
}
.summary{
  margin-top: 5em;
}